on: [push]

jobs:
  hello_world_job:
    runs-on: 'ubuntu-latest'
    name: A Job to test an action
    steps:
    - name: A Hello World Action Step
      id: hello
      uses: DawoodMorris/utilities
      with:
        who-to-greet: 'Dawood Morris'
      #use the output from the 'hello' step
    - name: Get the Outthe output time
      run: echo "The time was ${{steps.hello.outputs.time}}"